.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
  max-width: 87rem;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
