.footer {
  display: block;
  margin-top: auto;
  padding-top: 2rem;

  .ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 0.5rem;
    padding: 1rem;

    @media (max-width: 420px) {
      grid-template-columns: 1fr;
    }
  }

  .footer_reserved {
    margin-top: 1rem;
    border-top: 1px solid var(--color-border);
    color: var(--color-text-secondary);
    text-align: center;
    font-size: smaller;
    padding: 1rem;
  }
}
