.icon_link {
  display: inline-flex;
  font-size: 1.5rem;
  color: var(--color-text-secondary);
  transition: color 0.3s;
  position: relative;

  &:hover {
    color: var(--color-accent);
  }

  &[data-disabled="true"] {
    pointer-events: none;
    cursor: default;
    color: var(--color-border);
  }

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-text);
    // color: #fff;
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.2s;
  }

  &:hover::after {
    opacity: 1;
  }
}
