.tableWrapper {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      th:not(:nth-child(1)) {
        text-align: center;
      }
    }
  }

  tbody {
    tr:first-child {
      td:last-child {
        text-align: center;
      }
      td:nth-child(2),
      td:nth-child(3),
      td:nth-child(4) {
        text-align: center;
      }
    }
  }

  tfoot {
    td:last-child {
      text-align: center;
    }
  }

  @media (max-width: 420px) {
    thead {
      display: none; // hide headers
    }

    tbody {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1rem;
      // border-bottom: 2px solid #e5e7eb;
    }

    tr:nth-child(1) {
      td {
        text-align: end;
      }
    }
    th,
    td {
      // border: 1px solid #e5e7eb; // Tailwind gray-200
      padding: 0.5rem 0.75rem;
    }
    tr {
      td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem 0.75rem;

        &::before {
          content: attr(data-label);
          font-weight: 600;
          flex-basis: 40%;
          text-align: start;
        }

        &:last-child {
          text-align: center;
        }
      }
    }
    tbody tr:first-child td:nth-child(2) {
      text-align: end;
    }
    tr:not(:nth-child(1)) {
      td {
        display: flex;
      }
    }

    tfoot {
      tr {
        td:first-child {
          display: none;
        }
      }
      tr {
        td:last-child {
          display: flex;
        }
      }
    }
  }
  .tableWrapper tfoot tr:last-child td {
    border-bottom: none !important;
  }
}
