.tr {
  .td {
    @media (max-width: 420px) {
      display: flex;
      justify-content: space-between;
      text-align: end;
      width: 100%;
      padding: 0.5rem 0.75rem;

      &::before {
        content: attr(data-label);
        font-weight: 600;
        flex-basis: 40%;
        text-align: start;
      }
    }
  }
}
