.ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9999 !important;
    background-color: var(--color-bg-section);
    padding: 0;
    border-radius: 12px 12px;
    max-height: 0; // start hidden
    overflow: hidden; // hide content
    opacity: 0; // invisible
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
  }
}

/* When toggle is checked */
.isOpen {
  @media (max-width: 720px) {
    max-height: 500px;
    opacity: 1;
    padding: 1rem 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
