/* styles.css sau module */
.modal_backdrop {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal_backdrop_show {
  opacity: 1;
}

.modal_content {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal_content_show {
  transform: translateY(0);
  opacity: 1;
}
