.service_card_container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(320px, 1fr)
  ); // mai flexibil pe mobile
  gap: 2rem;
  padding: 1rem; // mai aerisit
  justify-items: stretch; // aliniere uniformă
  align-items: start; // toate cardurile încep de sus
  // max-width: 1200px; // limitare lățime pentru ecrane mari
  // margin: 0 auto; // centrare container
  transition: all 0.3s ease; // dacă cardurile se animă sau se schimbă

  @media (max-width: 1200px) {
    column-gap: 1rem;
  }
}

@media (max-width: 320px) {
  .service_card_container {
    padding: 10px;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
