.stepper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    position: absolute;
    bottom: 0;
    z-index: -1;
    content: "";
    width: 100%;
    background: green;
    // mix-blend-mode: difference;
  }
  &.h33::before {
    height: 33%;
  }
  &.h66::before {
    height: 66%;
  }
  &.h100::before {
    height: 100%;
    color: white;
  }
}
