.tasks_list {
  scrollbar-width: thin; // Firefox
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent; // Firefox

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px; // dacă ai scroll orizontal
  }

  &::-webkit-scrollbar-track {
    background: transparent; // subtil, invizibil
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4); // culoare subtilă
    border-radius: 3px; // rotunjit
    transition: background-color 0.2s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.7); // highlight la hover
  }
}
