.carousel_track_wrapper {
  overflow-x: hidden;
  max-width: 87rem; // ~1392px
  width: 100%;

  .content {
    display: flex;
    transition: transform 0.5s ease;
    gap: 0.5rem;

    .review {
      flex: 0 0 auto; // mobile: 1 card takes full width
      // min-width: 100%;
      box-sizing: border-box;
      padding: 0.5rem;
      background: var(--color-bg-section);
      border-radius: 8px;
      text-align: center;
    }
  }
  .no_scrollbar {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Edge */
    }
  }
}
.carousel_btn {
  position: absolute;
  top: 50%;
  border: none;

  font-size: 2rem;
  z-index: inherit;
  // padding: 0.5rem 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.left {
  left: 0;

  @media (min-width: 1550px) {
    left: -40px;
  }
}
.right {
  right: 0;
  @media (min-width: 1550px) {
    right: -40px;
  }
}
