.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.track {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  flex: 1;
  text-align: center;
}

.track::-webkit-scrollbar {
  display: none;
}

.card {
  scroll-snap-align: start;
  // min-width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  background: var(--color-bg-section);
  border-radius: 8px;
  text-align: center;

  flex: 0 0 100%;
  @media (min-width: 480px) {
    flex: 0 0 calc(50% - 0.5rem);
  }
  @media (min-width: 768px) {
    flex: 0 0 calc(33.33% - 0.7rem);
  }
  @media (min-width: 1024px) {
    flex: 0 0 calc(25% - 0.8rem);
  }
}

.prev,
.next {
  min-width: 32px;
}
